*{
    
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

header{
  
    text-align: center;
    background-color: rgb(96, 128, 223);
   color: azure;
   margin-bottom: 30px;
}

#name{
    font-size:3em;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(254, 254, 254);
    #lastName{
        color: rgb(59, 59, 113);
        
    }
    box-shadow: 1px 1px 5px skyblue;
}

#navbar{
    height: 35px;
        background-color: rgb(56, 80, 124);
       display: flex;
    justify-content: space-around;
 align-items: center;
}

#navbar a {
     color: black;
     font-size: 1.2em;
     transition: 0.8ms;
}

#navbar a:active{
    color: rgb(101, 101, 141);
}


#hero{
     height: 400px ;
   width: 60%;
   margin: 10px auto;
 border-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: azure;
 box-shadow: 4px 2px 12px gray;

}

#hero:hover{
    transform: scale(1.03);
}

#herosection{
  
   height: 80% ;
   width: 60%;
   margin:10px auto;
   background-color: rgb(150, 190, 243);
   border: 2px dotted rgb(139, 161, 170);
   border-radius: 16px;
   box-shadow: 1.5px 2px 4px rgb(139, 161, 170) ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 1.4em;
   flex-wrap: wrap;

  
}



  #herosection #view {
        height: 15%;
        width: 60%;
        margin: 30px auto;
        border-radius: 20px;
        border: 1px soild blue;
        background-color: rgb(99, 99, 220);
        box-shadow: 2px 4px 20px rgb(99, 99, 220);

  }

 #herosection #view:active {
    background-color: deepskyblue;
    transform: scale(0.9);
}


#about{
     height: 400px ;
   width: 60%;
   margin: 20px auto;
 border-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: azure;
 box-shadow: 4px 2px 12px gray;
 flex-direction: column;
   
}

#about:hover{
    transform: scale(1.03);
}

   
  #aboutME{
             height: 80% ;
   width: 60%;
   margin:10px auto;
   background-color: rgb(150, 190, 243);
   border: 2px dotted rgb(139, 161, 170);
   border-radius: 16px;
   box-shadow: 1.5px 2px 4px rgb(139, 161, 170) ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 1.2em;
   flex-wrap: wrap;
   }

  #projects{
                  height: 400px ;
   width: 60%;
   margin: 20px auto;
 border-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: azure;
 box-shadow: 4px 2px 12px gray;
 flex-direction: column;
                }

                #projects:hover{
    transform: scale(1.03);
}

                  #projects P{
            font-weight: 400;
            font-size: 30px;
            text-align: center;
            margin-bottom: 10px;
   }

   #proj{
           height: 80% ;
   width: 60%;
   margin:10px auto;
   background-color: rgb(150, 190, 243);
   border: 2px dotted rgb(139, 161, 170);
   border-radius: 16px;
   box-shadow: 1.5px 2px 4px rgb(139, 161, 170) ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 1.2em;
   flex-wrap: wrap;
   }

   #skills{
    height: 400px ;
   width: 60%;
   margin: 20px auto;
 border-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: azure;
 box-shadow: 4px 2px 12px gray;
 flex-direction: column;
 flex-wrap: wrap;
   }

#skills:hover{
    transform: scale(1.03);
}

                #skillbar{
                     height: 80% ;
   width: 60%;
   margin:10px auto;
   background-color: rgb(150, 190, 243);
   border: 2px dotted rgb(139, 161, 170);
   border-radius: 16px;
   box-shadow: 1.5px 2px 4px rgb(139, 161, 170) ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 1.2em;
                }


                #contarct_me{
                      height: 400px ;
   width: 60%;
   margin: 30px auto;
 border-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: azure;
 box-shadow: 4px 2px 12px gray;
 flex-direction: column;
                    
                }

                          #contarct_me:hover{
    transform: scale(1.03);
}

                
                  #contarct_me P{
            font-weight: 400;
            font-size: 10%;
            text-align: center;
            margin-bottom: 10px;

   }

   #contract{
           height: 80% ;
   width: 60%;
   margin:10px auto;
   background-color: rgb(150, 190, 243);
   border: 2px dotted rgb(139, 161, 170);
   border-radius: 16px;
   box-shadow: 1.5px 2px 4px rgb(139, 161, 170) ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 1.2em;
   }

   .contactInfo form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
   
}

.contactInfo input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
     border-radius: 12px;
      box-shadow: 2px 4px 8px #acacac;
}

.contactInfo button{
    width: 95%;
    height: 120%;
    border-radius: 15px;
    box-shadow: 2px 4px 8px gray;
}
.contactInfo button:active{
    background-color: lightblue;
    transform: scale(0.8);
}


 


footer{
    text-align: center;
    background-color: rgb(29, 28, 28);
    margin-top: 25px;
    color: aliceblue;
    font-size: 20px;
}






